[submodule "darwin-xnu/10.13"]
	path = darwin-xnu/10.13
	url = https://github.com/apple/darwin-xnu.git
[submodule "darwin-xnu/10.12"]
	path = darwin-xnu/10.12
	url = https://github.com/apple/darwin-xnu.git
[submodule "darwin-xnu/10.11"]
	path = darwin-xnu/10.11
	url = https://github.com/apple/darwin-xnu.git
